.scroll_to_top_container{
    width: 42px;
    height: 42px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.5);

    position: fixed;
    bottom: 30px;
    right: 20px;
    transform: translate(-50%,-50%);

    cursor: pointer;
}