.table_container{
    table{
        width: 100%;
        text-align: center;

        th,
        td{
            font-size: 20px;
            padding: 0.5em;
        }

        tr{
            &:nth-child(even){
                background: #eee;
            }
        }
    }
}