button{
    border: none;
    outline: none;
    background: transparent;

    font-size: 18px;
    margin: 0 2em;
    padding: 0.4em 1.2em;
    border: 1px solid black;

    cursor: pointer;
}

.default{
    border-radius: 4px;
}

.border{
    border-radius: 24px;
}