html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100vh;
  position: relative;
}

/* Theme styles */
.light-theme{
  color: #000;
  background: #fff;
  --background-color: #f9d71c;
  --border-color: #000;
  transition: 1s all;
}

.dark-theme{
  color: #fff;
  background: #000;
  --background-color: #fff;
  --border-color: #fff;
  transition: 1s all;
}

/* Removing user agent styles */
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}