.slider_container{
    position: relative;

    display: flex;
    align-items: center;

    .slide_handler_prev_btn,
    .slide_handler_next_btn{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #000;

        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);

        cursor: pointer;
    }

    .slide_handler_prev_btn{
        left: 2%;
    }

    .slide_handler_next_btn{
        left: 98%;
    }

    .not_active_slide_handle{
        display: none;
    }

    #slider{
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: scroll;
        scroll-behavior: smooth;

        button{
            border: none;
            outline: none;
            background: transparent;
    
            font-size: 18px;
            white-space: nowrap;
            margin: 0 0.5em;
            padding: 0.36em 1.08em;
            border: 1px solid black;
            border-radius: 6px;
    
            &:first-child{
                margin-left: 0;
            }
        }
    }
}